
*.ini
Sistema-Embebido/Código Fuente/AsistenteDeCocina/libraries/Adafrui*
Sistema-Embebido/Código Fuente/AsistenteDeCocina/libraries/Queuetu*
Sistema-Embebido/Código Fuente/AsistenteDeCocina/libraries/DHT/*
Sistema-Embebido/Código Fuente/AsistenteDeCocina/libraries/DH*
*.zip
Sistema-Embebido/Código Fuente/AsistenteDeCocina/libraries/actualizar.bat
